<section id="contact">
    <h2>Contact Us</h2>
    <p>If you have any questions or feedback, feel free to reach out to us!</p>
    <h1 style="color:red;">WE NEED TO ADD A MAIL FORM HERE !!!</h1>
</section>
<footer>
    &copy; {{ "now"|date("Y") }} RT Pizza. All rights reserved.
</footer>