{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li><code>src/Controller/{{ controller_name }}Controller.php</code></li>
        <li><code>templates/menu</code></li>
    </ul>
    <p>
        You can change the content of this page by editing these files.
        <br />
        If you see this message, it means that your application is set up correctly.
        <br />
</div>
{% endblock %}
